.login_container{
    display: block;
    justify-content: center;
    margin-top: 200px;
    box-sizing: border-box;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px rgb(197, 194, 194);
    height: 360px;
    width: 600px;
    margin-left: 500px;
}

#login_btn{
    width: 100px;
    margin-left: 100px;
    margin-top: 40px;
}

.input{
    display: inline;
    justify-content: space-between;
    margin-top: 10px;
    width: 300px;
}

#demo-simple-select-standard{
    width: 170px;
}

.header{
    margin-bottom: 20px;
}

.icons{
    margin-right: 10px;
    margin-top: 20px;
}